.build-list {
	margin-bottom: 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.build-list .no-services-message {
	color: #F90;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 1em;
	text-align: center;
}
